body {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0;
    margin: 0;
}

#main-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#etch-a-sketch {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 1100px;
    height: 850px;
    background-color: #f45f5f;
    border-radius: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#title {
    margin-top: 10px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#title img {
    width: 300px;
    height: 150px;
}

#reset-btn {
    align-self: flex-end;
    justify-self: end;
    position: fixed;
    grid-column: 3/4;
    grid-row: 3/4;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: inherit;
    background-color: #fffffe;
    margin: 0 20px 20px 0;
    font-size: 18px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#color-btn {
    align-self: flex-start;
    justify-self: start;
    grid-column: 1/2;
    grid-row: 4/5;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: inherit;
    background-color: #fffffe;
    margin: 0 0px 20px 20px;
    font-size: 18px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#reset-button:hover {
    background-color: #242424;
}

#canvas {
    place-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    margin-top: 3em;
    width: 848px;
    height: 544px;
    background-color: rgb(233, 233, 233);
    border: 0.1px solid rgb(18, 18, 18);
    padding: 0px;
}

.square-div {
    width: 15px;
    height: 15px;
    border: 0.1px solid rgb(198, 195, 195);
    margin: 0px;
}

.square-div:hover,
.square-div.hovered {
    background-color: rgb(2, 2, 2);
}
