#main-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#etch-a-sketch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 800px;
    background-color: red;
    border-radius: 50px;
}

#reset-btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 40em;
    margin-left: 60em;
    border: 1px solid black;
}

#reset-button:hover {
    background-color: grey;
}

#canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    width: 256px;
    height: 256px;
    background-color: white;
}

.square-div {
    width: 16px;
    height: 16px;
}

.square-div:hover,
.square-div.hovered {
    background-color: black;
}
