body {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0;
    margin: 0;
}

#main-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#etch-a-sketch {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 1000px;
    height: 800px;
    background-color: #f45f5f;
    border-radius: 20px;
}

#title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#title img {
    width: 300px;
    height: 150px;
}

#reset-btn {
    align-self: flex-end;
    justify-self: end;
    grid-column: 3/4;
    grid-row: 3/4;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #fffffe;
    margin: 0 10px 10px 0;
}

#reset-button:hover {
    background-color: #242424;
}

#canvas {
    place-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    margin-top: 3em;
    width: 848px;
    height: 544px;
    background-color: rgb(233, 233, 233);
    border: 0.1px solid rgb(18, 18, 18);
    padding: 0px;
}

.square-div {
    width: 15px;
    height: 15px;
    border: 0.1px solid rgb(198, 195, 195);
    margin: 0px;
}

.square-div:hover,
.square-div.hovered {
    background-color: rgb(2, 2, 2);
}
